<div class="container full">
    <div class="row justify-content-start header">
        <div class="col-12 text-center text-light pt-4 mb-5 mt-2">
            <h1 class="titulo">Explorar</h1>
        </div>
        <div class="col-12 mb-4">
            <mat-chip-list>
                <mat-chip selected>&nbsp;&nbsp;&nbsp;&nbsp;Juegos&nbsp;&nbsp;&nbsp;&nbsp;</mat-chip>
                <mat-chip>&nbsp;&nbsp;&nbsp;&nbsp;Equipos&nbsp;&nbsp;&nbsp;&nbsp;</mat-chip>
            </mat-chip-list>
        </div>
    </div>
	<div class="row grid">
            <mat-grid-list cols="2" rowHeight="200px" gutterSize="20px">
            <mat-grid-tile
            routerLink="/juego"
            class="game"
            *ngFor="let game of games"
            [colspan]="1"
            [rowspan]="1"
            [style.background-image]="'url(' + game.url + ')'">
            </mat-grid-tile>
            </mat-grid-list>
	</div>
    <div class="row navbar fixed-bottom">
        <div class="col-6 text-center pt-2 mb-2">
            <img src="assets/imagenes/explorar.png" class="img-fluid" alt="explorar" routerLink="/principal">
        </div>
        <div class="col-6 text-center pt-2 mb-2">
            <img src="assets/imagenes/favoritos.png" class="img-fluid" alt="favoritos" routerLink="/favoritos">
        </div>
    </div>
</div>
