<div class="container full">
	<div class="row v-align justify-content-center align-items-center d-flex flex-column">
        <div class="col-12 text-center text-light pt-2 mb-5">
            <h1 class="titulo">Competeer</h1>
        </div>
		<div class="col-6 mb-5">
			<img src="assets/imagenes/gamenight.png" class="img-fluid" alt="imagen">
		</div>
        <div class="col-8 text-center text-light pt-2 mb-5">
            <span>Your favorite e-sports content at the reach of your hand</span>
        </div>
        <div class="col-12 text-center text-light pt-2 mb-5">
            <button mat-raised-button color="primary" routerLink="/principal">
                Start 
                &nbsp;&nbsp;&nbsp;&nbsp;
                &nbsp;&nbsp;&nbsp;&nbsp;
                &nbsp;&nbsp;&nbsp;&nbsp;
                &nbsp;&nbsp;&nbsp;&nbsp;
                &rarr;
            </button>
        </div>

        
	</div>
</div>
