body {
  background-color: #140D0D;
}

.tooltip-big-text {
  --balloon-font-size: 20px;
}

.card {
  background-color: #473535;
  color: #6c757d;
}

.navbar {
  background-color: #D3A089;
}

.page-title {
  font-family: 'Cinzel', serif;
}

.table-responsive { 
  max-height: 22.5rem;
}
