@media only screen and (max-width: 412px) {
  body {
    flex-direction: row;
  }

  .box-header {
    width: 100%;
    padding: 0.3em 1.2em;
  }

  .box-main {
    width: 100%;
    margin: 0;
    padding: 1.8em 2em;
  }

  .box-sidebar {
    width: 100%;
    padding: 1.8em 0em;
  }

  .aboutme {
    display: block;
    position: fixed;
  }
}