@media only screen and (max-width: 412px) {

  .div-content {
    flex-direction: row;
  }

  .box-header {
    width: 100%;
    padding: 0.3em 1.2em;
  }

  .box-main {
    width: 100%;
    margin: 0;
    padding: 1.8em 2em;
  }

  .box-sidebar {
    width: 100%;
    padding: 1.8em 0em;
  }

  /* 
  =========
  NAVBAR
  =========
  */

  .navbar {
    overflow: hidden;
    background-color: #2a475e;
  }

  .navbar a {
    float: left;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
  }

  .navbar a:hover {
    background-color: #ddd;
    color: black;
  }

  .navbar .icon {
    display: none;
  }

  .navbar a:not(:first-child) {
    display: none;
  }

  .navbar a.icon {
    float: right;
    display: block;
  }

  .navbar.responsive {
    position: fixed;
  }

  .navbar.responsive .icon {
    position: fixed;
    right: 0;
    top: 92px;
  }

  .navbar.responsive a {
    float: none;
    display: block;
    text-align: left;
  }



  /* 
  =========
  SOBRE MI 
  =========
  */

  .sobremi-content {
    display: flex;
    flex-wrap: wrap;
    width: 95%;
    align-items: flex-start;
    justify-content: center;
    font-size: 0.8em;
  }

  .descripcion {
    width: 100%;
    background: #1B2838;
    padding: 0.75rem 1.25rem;
    border: 0.125rem solid #171A21;
    border-radius: 0.25rem;
  }

  .lista {
    width: 50%;
    background: #1B2838;
    padding: 0.75rem 1.25rem;
    border: 0.125rem solid #171A21;
    border-radius: 0.25rem;
  }

  /* 
  =========
  PROYECTOS 
  =========
  */

  .proyectos-box {
    width: 40%;
    box-shadow: 0.5em 0.5em 0.5em #000000;
  }

  .proyectos-box a {
    display: block;
    width: 100%;
    padding: 0.3em 0.3em;
    background: #66C0F4;
    text-align: right;
    text-decoration: none;
    color: #FFFFFF;
  }

  .proyectos-box a:hover {
    color: black;
  }

  .proyectos-box img {
    display: block;
    width: 100%;
    height: auto;
  }

  .div-proyectos {
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: flex-start;
    gap: 2.5em;
    background: #1B2838;
  }

  .div-proyectos h3 {
    width: 100%;
    color: #FFFFFF;
  }

  /* 
  =========
  HABILIDADES 
  =========
  */

  .div-habilidades {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: center;
    gap: 2.5em;
    background: #1B2838;
  }

  .div-habilidades h3 {
    width: 100%;
    color: #FFFFFF;
  }

  .habilidades-content {
    overflow-x: auto;
    width: 95%;
  }

  .habilidades-tabla {
    width: 100%;
    color: #FFFFFF;
    font-size: 0.8em;
  }

  .habilidades-tabla td {
    height: 5em;
  }

  .columna-img {
    width: 25%;
    background-color: #2A475E;
  }

  .columna-nombre {
    width: 30%;
    background-color: #2A475E;
    padding: 0 15px;
    font-size: 1em;
  }

  .columna-prct {
    width: 35%;
    background-color: #2A475E;
    justify-content: space-around;
  }


  /* 
  =========
  PASATIEMPOS
  =========
  */

  .div-pasatiempos {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: center;
    gap: 2rem 0.5rem;
    color: #FFFFFF;
  }

  .div-pasatiempos h3 {
    width: 100%;
    color: #FFFFFF;
  }

  .div-pasatiempos img {
    display: block;
    border-radius: 50%;
    max-width: 35%;
    height: auto;
  }

  .img-block {
    display: flex;
    justify-content: center;
    width: 100%;
  }

  .pasatiempos-content {
    display: flex;
    flex-wrap: wrap;
    width: 95%;
    align-items: flex-start;
    justify-content: center;
    font-size: 0.8em;
  }

  .pasatiempos-descripcion {
    width: 100%;
    background: #1B2838;
    padding: 0.75rem 1.25rem;
    border: 0.125rem solid #171A21;
    border-radius: 0.25rem;
  }

  .pasatiempos-videobox {
    width: 100%;
  }

  .half-box {
    height: 11.5rem;
  }

  .pasatiempos-mapabox {
    width: 100%;
    height: 12.5rem;
  }

  /* 
  =========
  COMENTARIOS
  =========
  */

  .div-comentarios {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: center;
    gap: 2.5em;
    background: #1B2838;
  }

  .div-comentarios h3 {
    width: 100%;
    color: #FFFFFF;
  }

  .comentario {
    display: flex;
    flex-direction: column;
    width: 95%;
    background: #2A475E;
    padding-right: 3%;
    padding-left: 1%;
    color: #FFFFFF;
    font-size: 0.8em;
  }

  .div-formulario {
    display: flex;
    flex-direction: column;
    width: 95%;
  }

  input[type=text] {
    width: 100%;
    padding: 0.75rem 1.25rem;
    margin: 0.5rem 0;
    color: #000000;
    border: 0.125rem solid #ccc;
    border-radius: 0.25rem;
    background-color: #C7D5E0;
  }

  textarea {
    width: 100%;
    height: 9.375rem;
    padding: 0.75rem 1.25rem;
    box-sizing: border-box;
    border: 0.125rem solid #ccc;
    border-radius: 0.25rem;
    color: #000000;
    background-color: #C7D5E0;
    resize: none;
  }

  input[type=submit] {
    background-color: #66C0F4;
    color: white;
    padding: 0.75rem 1.25rem;
    border: none;
    border-radius: 0.25rem;
    cursor: pointer;
    float: right;
  }

  input[type=submit]:hover {
    background-color: #152630;
  }

}