.proyectos-box {
  width: 20%;
  box-shadow: 0.5em 0.5em 0.5em #000000;
}

.proyectos-box a {
  display: block;
  width: 100%;
  padding: 0.3em 0.3em;
  background: #66C0F4;
  text-align: right;
  text-decoration: none;
  color: #FFFFFF;
}

.proyectos-box a:hover {
  color: black;
}

.proyectos-box img {
  display: block;
  width: 100%;
  height: auto;
}

.div-proyectos {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 2.5em;
  background: #1B2838;
}

.div-proyectos h3 {
  width: 100%;
  color: #FFFFFF;
}

.grow {
  transition: all .2s ease-in-out;
}

.grow:hover {
  transform: scale(1.1);
}