
.div-sobremi {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: center;
    gap: 2rem 0.5rem;
    color: #FFFFFF;
}

.div-sobremi img {
    display: block;
    border-radius:  50%;
    max-width: 100%;
    max-height: 15rem;
    object-fit: fill;
}

.sobremi-imgblock {
    display: flex;
    justify-content: center;
    width: 100%;
}

.sobremi-content {
    display: flex;
    flex-wrap: wrap;
    width: 70%;
    align-items: flex-start;
    justify-content: center;
}

.descripcion {
    width: 100%;
    background: #1B2838;
    padding: 0.75rem 1.25rem;
    border: 0.125rem solid #171A21;
    border-radius: 0.25rem;
    text-shadow: 2px 2px #0c0b0b;
}

.lista {
    width: 50%;
    background: #1B2838;
    padding: 0.75rem 1.25rem;
    border: 0.125rem solid #171A21;
    border-radius: 0.25rem;
    text-shadow: 2px 2px #0c0b0b;
}


