* {
  font-family: 'Inter', sans-serif;
}

*, *:before, *:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

html, body {
  height: 100%;
  width: 100%;
  background: #171a21;
}

body {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  justify-content: flex-start;
}

.box-header {
  width: 100%;
  padding: 2em 1.2em;
}

.box-navbar {
  width: 100%;
  padding: 0.5em;
}

.box-main {
  width: 65%;
  margin: 0%;
  padding: 1.8em 2em;
}

.box-sidebar {
  width: 35%;
  padding: 1.8em 0em;
}

h1 {
  color: #c7d5e0
}

.navbar {
  display: flex; 
  flex-wrap: wrap;
  column-gap: 0.7em;
  align-items: left;
  background: #2a475e;
}

.navitem {
  text-decoration: none;  
  color: #c7d5e0;
}

.navitem:hover {
  color: #112b40;
}

aside {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  row-gap: 0.7em;
  align-items: center;
  width: 15.6em;
  color: #c7d5e0;
}

aside img {
  display: block;
  border-radius:  50%;
  max-width: 35%;
  height: auto;
}

aside div {
  background-color: #1B2838;
  width: 60%;
}

.aside-mov {
  
}

